$maincol: #004181;
$seccol: #d91f3c;
$font: "Open Sans", sans-serif;
$paddingy: 100px 0;
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: white;
  font-family: $font;
}
.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
h1 {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  line-height: 30px;
  display: inline;
  margin: 0;
  padding: 0;
}
.font-mcolor {
  color: $maincol;
}
.top-header {
  height: 30px;
  background: $maincol;
  width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
*:hover {
  transition: 0.3s all ease;
  text-decoration: none;
}
* {
  transition: 0.3s all ease;
}
a {
  text-decoration: none;
  display: block;
  padding: 0;
  margin: 0;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: 1.2;
}
.top-header-links {
  line-height: 30px;
  li {
    float: left;
    margin-right: 14px;
    a {
      color: #fff;
      font-size: 12px;
      img {
        height: 12px;
      }
    }
  }
}
footer {
  padding: $paddingy;
}
.dropdown {
  display: none;
  position: absolute;
  top: 100px;
  right: calc(50% - 135px);
  width: 270px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  li {
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
  li::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 35%;
    width: 30%;
    height: 1px;
    background: $maincol;
  }
  h3 {
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
    color: $maincol;
    text-transform: uppercase;
  }
}
header {
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 1000;
}
.main-header {
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 1000;
}
.main-nav {
  li {
    display: inline-block;
    position: relative;
    a {
      padding: 0 10px;
      h2 {
        font-size: 14px;
        margin: 0;
        padding: 0;
        line-height: 100px;
        font-weight: 700;
        color: $maincol;
      }
    }
  }
  li:hover > .dropdown {
    display: block;
  }
}
.header-logo {
  height: 50px;
  margin-top: 25px;
  width: auto;
}
.main-nav-holder {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.cta-header-call {
  color: $maincol;
  height: 60px;
  margin: 20px 0;
  position: absolute;
  font-size: 20px;
  top: 0;
  right: 0;
  line-height: 24px;
  text-transform: uppercase;
}
.cta-header-call span {
  line-height: 1;
  font-size: 32px;
}
.hero-slider {
  clear: both;
  transform: translateY(-100px);
}
.hero-slide-container {
  position: relative;
  .wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    margin: 0 auto;
    .herotext {
      width: 600px;
      height: auto;
      background: rgba(255, 255, 255, 0.6);
      color: $maincol;
      position: relative;
      top: 40%;
      padding: 50px;
      p {
        margin-bottom: 30px;
      }
    }
  }
}
.hero-text-link {
  width: 160px;
  height: 60px;
  display: block;
  line-height: 60px;
  text-align: center;
  background: $seccol;
  color: #fff;
  border-radius: 30px;
}
.hero-text-link {
  width: 160px;
  height: 60px;
  display: block;
  line-height: 60px;
  text-align: center;
  background: $seccol;
  color: #fff;
  border-radius: 30px;
}
ul.slick-dots {
  width: 100%;
  bottom: -60px;
  left: 0;
  right: 0;
  background: $maincol;
  li {
    width: 20%;
    box-sizing: border-box;
    height: 60px;
    border-right: 1px solid #fff;
    margin: 0;
    button {
      width: 100%;
      height: 60px;
    }
  }
  li:nth-of-type(5) {
    border-right: none;
  }
}
#slick-slide-control00::before {
  content: "Lokacije";
  color: #fff;
  font-family: $font;
  height: 60px;
  width: 100%;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
}
#slick-slide-control01::before {
  content: "Originalna Stakla";
  color: #fff;
  font-family: $font;
  height: 60px;
  width: 100%;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
}
#slick-slide-control02::before {
  content: "Brza usluga";
  color: #fff;
  font-family: $font;
  height: 60px;
  width: 100%;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
}
#slick-slide-control03::before {
  content: "Zamena i reparacija";
  color: #fff;
  font-family: $font;
  height: 60px;
  width: 100%;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
}
#slick-slide-control04::before {
  content: "Poliranje Farova";
  color: #fff;
  font-family: $font;
  height: 60px;
  width: 100%;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
}

.main-onama {
  padding: $paddingy;
  img {
    width: 100%;
  }
}
.hr-under {
  width: 70px;
  margin: 3px 0 20px;
}
.naslov-sekcije {
  font-size: 46px;
  font-weight: 700;
}
.whyus {
  background: $maincol;
  padding: $paddingy;
}
.ikonice-whyus {
  display: inline-block;
  width: 50px;
  padding: 8px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  img {
    width: 30px;
    margin: 0;
    padding: 0;
  }
}
.pronadjite-staklo,
.home-wheels,
.home-call-onroad,
.home-usluge {
  padding: $paddingy;
}
.pronadjite-staklo,
.home-usluge {
  background: $maincol;
}
.bar img {
  margin: 0;
  padding: 0;
}
.applogo {
  display: block;
  height: 100px;
}

.bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}
.bar svg.radial-progress {
  height: auto;
  max-width: 200px;
  padding: 1em;
  box-sizing: border-box;
  transform: rotate(-90deg);
  width: 100%;
}
.bar svg.radial-progress circle {
  fill: rgba(0, 0, 0, 0);
  stroke: #fff;
  stroke-dashoffset: 219.91148575129;
  stroke-width: 3;
}
.bar svg.radial-progress circle.incomplete {
  opacity: 0.25;
}
.bar svg.radial-progress circle.complete {
  stroke-dasharray: 219.91148575129;
}
.bar svg.radial-progress text {
  fill: #fff;
  text-anchor: middle;
}
#bar1 svg.radial-progress circle {
  stroke: $maincol;
}
#bar2 svg.radial-progress circle {
  stroke: $maincol;
}
#bar3 svg.radial-progress circle {
  stroke: $maincol;
}
.bar {
  position: relative;
}
.percentage {
  fill: $maincol !important;
}
.usluge-kartica {
  border-radius: 5px;
  display: block;
  overflow: hidden;
  color: $maincol;
  p {
    width: 100%;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    background: #fff;
    color: $maincol;
    margin: 0;
    position: relative;
  }
  p:after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: $maincol;
    width: 40px;
    height: 2px;
  }
}
