body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: white;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

h1 {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  line-height: 30px;
  display: inline;
  margin: 0;
  padding: 0;
}

.font-mcolor {
  color: #004181;
}

.top-header {
  height: 30px;
  background: #004181;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

*:hover {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  text-decoration: none;
}

* {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

a {
  text-decoration: none;
  display: block;
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: 1.2;
}

.top-header-links {
  line-height: 30px;
}

.top-header-links li {
  float: left;
  margin-right: 14px;
}

.top-header-links li a {
  color: #fff;
  font-size: 12px;
}

.top-header-links li a img {
  height: 12px;
}

footer {
  padding: 100px 0;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100px;
  right: calc(50% - 135px);
  width: 270px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
}

.dropdown li {
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.dropdown li::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 35%;
  width: 30%;
  height: 1px;
  background: #004181;
}

.dropdown h3 {
  font-size: 14px;
  line-height: 40px;
  font-weight: 700;
  color: #004181;
  text-transform: uppercase;
}

header {
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 1000;
}

.main-header {
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 1000;
}

.main-nav li {
  display: inline-block;
  position: relative;
}

.main-nav li a {
  padding: 0 10px;
}

.main-nav li a h2 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: 100px;
  font-weight: 700;
  color: #004181;
}

.main-nav li:hover > .dropdown {
  display: block;
}

.header-logo {
  height: 50px;
  margin-top: 25px;
  width: auto;
}

.main-nav-holder {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.cta-header-call {
  color: #004181;
  height: 60px;
  margin: 20px 0;
  position: absolute;
  font-size: 20px;
  top: 0;
  right: 0;
  line-height: 24px;
  text-transform: uppercase;
}

.cta-header-call span {
  line-height: 1;
  font-size: 32px;
}

.hero-slider {
  clear: both;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.hero-slide-container {
  position: relative;
}

.hero-slide-container .wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  margin: 0 auto;
}

.hero-slide-container .wrapper .herotext {
  width: 600px;
  height: auto;
  background: rgba(255, 255, 255, 0.6);
  color: #004181;
  position: relative;
  top: 40%;
  padding: 50px;
}

.hero-slide-container .wrapper .herotext p {
  margin-bottom: 30px;
}

.hero-text-link {
  width: 160px;
  height: 60px;
  display: block;
  line-height: 60px;
  text-align: center;
  background: #d91f3c;
  color: #fff;
  border-radius: 30px;
}

.hero-text-link {
  width: 160px;
  height: 60px;
  display: block;
  line-height: 60px;
  text-align: center;
  background: #d91f3c;
  color: #fff;
  border-radius: 30px;
}

ul.slick-dots {
  width: 100%;
  bottom: -60px;
  left: 0;
  right: 0;
  background: #004181;
}

ul.slick-dots li {
  width: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  border-right: 1px solid #fff;
  margin: 0;
}

ul.slick-dots li button {
  width: 100%;
  height: 60px;
}

ul.slick-dots li:nth-of-type(5) {
  border-right: none;
}

#slick-slide-control00::before {
  content: "Lokacije";
  color: #fff;
  font-family: "Open Sans", sans-serif;
  height: 60px;
  width: 100%;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#slick-slide-control01::before {
  content: "Originalna Stakla";
  color: #fff;
  font-family: "Open Sans", sans-serif;
  height: 60px;
  width: 100%;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#slick-slide-control02::before {
  content: "Brza usluga";
  color: #fff;
  font-family: "Open Sans", sans-serif;
  height: 60px;
  width: 100%;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#slick-slide-control03::before {
  content: "Zamena i reparacija";
  color: #fff;
  font-family: "Open Sans", sans-serif;
  height: 60px;
  width: 100%;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#slick-slide-control04::before {
  content: "Poliranje Farova";
  color: #fff;
  font-family: "Open Sans", sans-serif;
  height: 60px;
  width: 100%;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-onama {
  padding: 100px 0;
}

.main-onama img {
  width: 100%;
}

.hr-under {
  width: 70px;
  margin: 3px 0 20px;
}

.naslov-sekcije {
  font-size: 46px;
  font-weight: 700;
}

.whyus {
  background: #004181;
  padding: 100px 0;
}

.ikonice-whyus {
  display: inline-block;
  width: 50px;
  padding: 8px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
}

.ikonice-whyus img {
  width: 30px;
  margin: 0;
  padding: 0;
}

.pronadjite-staklo,
.home-wheels,
.home-call-onroad,
.home-usluge {
  padding: 100px 0;
}

.pronadjite-staklo,
.home-usluge {
  background: #004181;
}

.bar img {
  margin: 0;
  padding: 0;
}

.applogo {
  display: block;
  height: 100px;
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.bar svg.radial-progress {
  height: auto;
  max-width: 200px;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 100%;
}

.bar svg.radial-progress circle {
  fill: rgba(0, 0, 0, 0);
  stroke: #fff;
  stroke-dashoffset: 219.91148575129;
  stroke-width: 3;
}

.bar svg.radial-progress circle.incomplete {
  opacity: 0.25;
}

.bar svg.radial-progress circle.complete {
  stroke-dasharray: 219.91148575129;
}

.bar svg.radial-progress text {
  fill: #fff;
  text-anchor: middle;
}

#bar1 svg.radial-progress circle {
  stroke: #004181;
}

#bar2 svg.radial-progress circle {
  stroke: #004181;
}

#bar3 svg.radial-progress circle {
  stroke: #004181;
}

.bar {
  position: relative;
}

.percentage {
  fill: #004181 !important;
}

.usluge-kartica {
  border-radius: 5px;
  display: block;
  overflow: hidden;
  color: #004181;
}

.usluge-kartica p {
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  background: #fff;
  color: #004181;
  margin: 0;
  position: relative;
}

.usluge-kartica p:after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: #004181;
  width: 40px;
  height: 2px;
}
/*# sourceMappingURL=style.css.map */